/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 100ms ease-out, color 200ms ease-out;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Root Variables */

:root {
  --root-gray-0: hsl(0, 0%, 98%);
  --root-gray-100: hsl(0, 0%, 90%);
  --root-gray-250: hsl(0, 0%, 75%);
  --root-gray-500: hsl(0, 0%, 50%);
  --root-gray-750: hsl(0, 0%, 25%);
  --root-gray-900: hsl(0, 0%, 10%);
  --root-gray-1000: hsl(0, 0%, 2%);

  --root-primary-color-1000: hsl(247, 60%, 54%);

  /* text */
  --text-xsm: 0.75rem;
  --text-sm: 0.875rem;
  --text-100: 1rem;
  --text-200: 1.25rem;
  --text-300: 1.75rem;
  --text-400: 2rem;
  --text-500: 2.25rem;
  --text-600: 2.5rem;
  --text-700: 2.75rem;
  --text-800: 3rem;
  --text-900: 6rem;

  /* text-warn */
  --root-text-warn-100: hsl(0, 70%, 80%);
  --root-text-warn-900: hsl(0, 50%, 50%);

  /* duration */
  --duration: 250ms;
}

/* Themes */

.light {
  --bg: var(--root-gray-0);
  --bg-popup: var(--root-gray-0);
  --text: var(--root-gray-900);

  --border: var(--root-gray-250);

  --shadow-100: var(--root-gray-250);

  --gray-0: var(--root-gray-0);
  --gray-100: var(--root-gray-100);
  --gray-250: var(--root-gray-250);
  --gray-500: var(--root-gray-500);
  --gray-750: var(--root-gray-750);
  --gray-900: var(--root-gray-900);
  --gray-1000: var(--root-gray-1000);

  --primary-color-1000: hsl(247, 60%, 54%);
  /* text-warn */
  --text-warn-100: var(--root-text-warn-900);
  --text-warn-900: var(--root-text-warn-100);
}

.dark {
  --bg: hsl(240, 5%, 14%);
  --bg-popup: var(--root-gray-750);
  --text: var(--root-gray-100);

  --border: var(--root-gray-500);

  --shadow-100: var(--root-gray-1000);

  --gray-0: var(--root-gray-1000);
  --gray-100: var(--root-gray-900);
  --gray-250: var(--root-gray-750);
  --gray-500: var(--root-gray-500);
  --gray-750: var(--root-gray-250);
  --gray-900: var(--root-gray-100);
  --gray-1000: var(--root-gray-1000);

  --primary-color-1000: hsl(162, 79%, 49%);
  /* text-warn */
  --text-warn-100: var(--root-text-warn-100);
  --text-warn-900: var(--root-text-warn-900);
}

/* Library */

/* Layout */
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* grid */
.grid {
  display: grid;
}

/* End Layout */

/* text */
.textWarn {
  color: var(--text-warn-100);
}

.fullWidth {
  width: 100%;
}

.btn {
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all var(--duration) ease;
}

.btn-outline {
  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);
}

.btn-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.btn:focus {
  outline: none;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--text);
    color: var(--bg);
  }
}

/* Empty List */
.emptyList {
  display: flex;
  justify-content: center;
  margin: 3em auto;
}

.title {
  font-weight: 600;
  font-size: 0.9rem;
}

.link {
  font-size: var(--text-xsm);
  color: var(--gray-750);
}

/* sticky search filter */

.stickySearchFilter {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  z-index: 1;
  border-bottom: 1px solid var(--border);
  box-shadow: inset 0 -2px 2px -2px var(--shadow-100);
}

/* scrollbars */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-100);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-250);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}

/* mat icons */
.icon-sm-grey {
  color: var(--gray-750);
  font-size: 1.3rem;
}

/* material-ui background */
mat-dialog-container {
  background-color: var(--bg-popup) !important;
}

.mat-menu-content {
  background-color: var(--bg-popup) !important;
}
