/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 100ms ease-out, color 200ms ease-out;
}

/* Root Variables */

:root {
  --root-gray-0: hsl(0, 0%, 98%);
  --root-gray-100: hsl(0, 0%, 90%);
  --root-gray-250: hsl(0, 0%, 75%);
  --root-gray-500: hsl(0, 0%, 50%);
  --root-gray-750: hsl(0, 0%, 25%);
  --root-gray-900: hsl(0, 0%, 10%);
  --root-gray-1000: hsl(0, 0%, 2%);

  --primary-color: hsl(180, 50%, 50%);

  /* text */
  --text-xsm: 0.75rem;
  --text-sm: 0.875rem;
  --text-100: 1rem;
  --text-200: 1.25rem;
  --text-300: 1.75rem;
  --text-400: 2rem;
  --text-500: 2.25rem;
  --text-600: 2.5rem;
  --text-700: 2.75rem;
  --text-800: 3rem;
  --text-900: 6rem;

  /* duration */
  --duration: 250ms;
}

/* Themes */

.light {
  --bg: var(--root-gray-0);
  --text: var(--root-gray-900);

  --border: var(--root-gray-250);

  --shadow-100: var(--root-gray-250);

  --gray-0: var(--root-gray-0);
  --gray-100: var(--root-gray-100);
  --gray-250: var(--root-gray-250);
  --gray-500: var(--root-gray-500);
  --gray-750: var(--root-gray-750);
  --gray-900: var(--root-gray-900);
  --gray-1000: var(--root-gray-1000);
}

.dark {
  --bg: var(--root-gray-900);
  --text: var(--root-gray-100);

  --border: var(--root-gray-500);

  --shadow-100: var(--root-gray-1000);

  --gray-0: var(--root-gray-1000);
  --gray-100: var(--root-gray-900);
  --gray-250: var(--root-gray-750);
  --gray-500: var(--root-gray-500);
  --gray-750: var(--root-gray-250);
  --gray-900: var(--root-gray-100);
  --gray-1000: var(--root-gray-1000);
}

/* Library */

.btn {
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all var(--duration) ease;
}

.btn-outline {
  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);
}

.btn-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: var(--text);
  color: var(--bg);
}

/* Empty List */
.emptyList {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}
