.hero {
  margin-top: 20vh;
  text-align: center;
}

.heroTitle {
  font-size: 10vw;
  letter-spacing: 2px;
}

@media(min-width:768px){

  .hero {
    margin-top: 6rem;
  }

  .heroTitle{
    font-size: var(--text-900);
  }
}