/* styles for app-repo-list */
:host {
  grid-area: repo;
  margin: 1em auto;
  padding: 1em 2em;
  width: 100%;
  max-height: 100vh;
  overflow-x: scroll;
}

/* large screens */
@media (min-width: 768px) {
  :host {
    padding: 1em 1em;
    max-width: 80%;
  }
}

.repoList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em auto;
}

/* medium screens */
@media (min-width: 768px) {
  .repoList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* large screens */
@media (min-width: 1000px) {
  .repoList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.repo {
  border: 1px solid var(--border);
  border-radius: 5px;
  /* max-width: 300px;
  min-width: 300px; */
  padding: 0.75em;
  transition: all var(--duration) ease;
}

@media (hover: hover) {
  .repo:hover {
    border-color: var(--primary-color-1000);
  }
}
