<form [formGroup]="filterForm">
  <input type="text" name="repoName" id="repoName" formControlName="repoName" />
</form>

<div *ngIf="filteredRepoList.length > 0" class="repoList">
  <div *ngFor="let repo of filteredRepoList" class="repo">
    <div class="title">
      {{ repo.name }}
    </div>
    <div>
      <div class="link">
        {{ repo.url }}
      </div>
      <div class="actions">+</div>
    </div>
  </div>
</div>

<div *ngIf="filteredRepoList.length === 0" class="emptyList">No Repos</div>
