<div class="stickySearchFilter searchFilter">
  <form [formGroup]="filterForm">
    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>Search in {{ selectedProjectName$ }}</mat-label>
      <input
        matInput
        type="text"
        name="repoName"
        id="repoName"
        formControlName="repoName"
        placeholder="Search..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <div class="flex justify-between flex-wrap">
    <button
      mat-flat-button
      color="primary"
      (click)="openRepoDialog('')"
      matTooltip="New Repo"
    >
      <mat-icon> add </mat-icon>
      <span>REPO</span>
    </button>
    <div class="projectName">
      {{ selectedProjectName$ }}
    </div>
  </div>
</div>

<div *ngIf="loadOperationStatus$ === httpCallStatus.LOADING" class="emptyList">
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="
    loadOperationStatus$ === httpCallStatus.OK && filteredRepoList.length > 0
  "
  class="repoList"
>
  <div *ngFor="let repo of filteredRepoList" class="repo">
    <div class="flex justify-between">
      <div class="title">
        {{ repo.name }}
      </div>
      <button
        mat-icon-button
        aria-label="repo actions"
        matTooltip="Actions"
        [matMenuTriggerFor]="repoActionsMenu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #repoActionsMenu>
        <button mat-menu-item (click)="openRepoDialog(repo._id)">
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="confirmDeleteRepo(repo._id, repo.name)">
          <span class="textWarn">Delete</span>
        </button>
      </mat-menu>
    </div>
    <div>
      <a *ngIf="repo.url" class="link" href="{{ repo.url }}" target="_blank">
        Open
      </a>
    </div>
    <div class="flex justify-end">
      <button
        mat-icon-button
        aria-label="add to projects"
        matTooltip="Add to projects"
        (click)="editProjects(repo._id)"
      >
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="loadOperationStatus$ === httpCallStatus.OK && repoList$.length === 0"
  class="emptyList"
>
  You have not created any repos yet
</div>

<div
  *ngIf="repoList$.length !== 0 && filteredRepoList.length === 0"
  class="emptyList"
>
  No Repos
</div>
