.hero {
  margin-top: 20vh;
  text-align: center;
}

.heroTitle {
  font-size: 10vw;
  letter-spacing: 2px;
  margin-bottom: 0.3em;
}

.heroDescription {
  font-size: 5vw;
  color: var(--gray-500);
  padding: 0 1em;
  margin-bottom: 2em;
}

.heroActions {
  gap: 1rem;
}

@media (min-width: 768px) {
  .hero {
    margin-top: 6rem;
  }

  .heroTitle {
    font-size: var(--text-900);
  }

  .heroDescription {
    font-size: var(--text-200);
  }
}
