<div class="hero">
  <h1 class="heroTitle">ProjectHub</h1>
  <h2 class="heroDescription">
    Place where developers manage and share their projects
  </h2>
  <div class="grid heroActions">
    <a routerLink="/app" *ngIf="userId$ | async; else login">
      <button mat-flat-button color="primary">Projects</button>
    </a>
    <ng-template #login>
      <a routerLink="/accounts/login">
        <button mat-flat-button color="primary">Login</button>
      </a>
    </ng-template>
    <a href="https://github.com/Pranay-Tej/projecthub" target="_blank">
      <button mat-button>View on GitHub</button>
    </a>
  </div>
</div>

<div class="featuresContainer">
  <h2 class="whyTitle">Why?</h2>
  <div class="featureList">
    <div class="feature" *ngFor="let feature of featureList">
      <h3 class="title">{{ feature.title }}</h3>
      <div class="description">
        {{ feature.description }}
      </div>
      <div *ngIf="feature.sub" class="sub">
        {{ feature.sub }}
      </div>
    </div>
  </div>
</div>
