<div *ngIf="repoLoadOperation$ === httpCallStatus.LOADING" class="emptyList">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="repoLoadOperation$ === httpCallStatus.OK">
  <form [formGroup]="repoForm" (ngSubmit)="saveRepo()" class="grid">
    <mat-form-field appearance="standard">
      <mat-label>Repo Name</mat-label>
      <input
        name="name"
        type="name"
        matInput
        placeholder="Super Cool Repo"
        formControlName="name"
      />
      <mat-error *ngIf="repoForm.get('name').errors?.required"
        >This field is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Repo Link</mat-label>
      <input
        name="url"
        type="url"
        matInput
        placeholder="https://github.com/user/repo"
        formControlName="url"
      />
      <mat-hint>Link for repo source code</mat-hint>
    </mat-form-field>
    <span *ngIf="saveOperation$ === httpCallStatus.ERROR" class="textWarn"
      >There was some error</span
    >
    <mat-dialog-actions align="end">
      <button
        mat-button
        mat-dialog-close
        [disabled]="saveOperation$ === httpCallStatus.LOADING"
      >
        {{ saveOperation$ === httpCallStatus.LOADING ? "..." : "Cancel" }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="
          repoForm.invalid || saveOperation$ === httpCallStatus.LOADING
        "
      >
        {{ saveOperation$ === httpCallStatus.LOADING ? "..." : "Save" }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
