.loginBackground {
  background-color: var(--gray-100);
  height: calc(100% - 57px);
  width: 100vw;
  /* display: grid;
  place-content: center; */
  overflow: hidden;
}

.loginContainer {
  background-color: var(--bg);
  border: 1px solid var(--gray-100);
  border-radius: 3px;
  max-width: 330px;
  margin: 5em auto;
  padding: 1em 2em;
  padding-bottom: 2em;
  border-top: 4px solid var(--primary-color-1000);
}

.login {
  margin: 1em auto;
}

.register {
  font-size: 0.85rem;
  margin-top: 1em;
}

.register a {
  margin-left: 0.5em;
}

.registerLink {
  color: var(--primary-color-1000);
}
