.projectTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
}

.projectsMenu {
  display: grid;
  justify-content: center;
  padding: 1em;
  margin: 0 auto;
  gap: 1em;
}

.project,
.all {
  /* display: flex; */
  padding: 0.5em 0.75em;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--border);
  border-left: 8px solid transparent;
  transition: all var(--duration);
}

.all {
  border-top: 1px solid var(--border);
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (hover: hover) {
  .project:hover,
  .all:hover {
    cursor: pointer;
    /* background-color: var(--gray-750);
    color: var(--gray-0); */
  }

  /* .project:hover .link {
    color: var(--gray-100);
  } */
}

.selectedProject {
  border-left: 8px solid var(--primary-color-1000);
}
