.project {
  display: flex;
  padding: 0.5em 0.75em;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  transition: all var(--duration);
}

.project:first-child {
  border-top: 1px solid var(--border);
  margin-top: 1em;
}

.project:hover {
  cursor: pointer;
  background-color: var(--gray-750);
  color: var(--gray-0);
}

.selectedProject {
  background-color: var(--gray-900);
  color: var(--gray-0);
}
