<button (click)="fetchAllRepos()">All Repos</button>

<button>New Project</button>

<form [formGroup]="filterForm">
  <input
    type="text"
    name="projectName"
    id="projectrtName"
    formControlName="projectName"
  />
</form>

<div *ngIf="filteredProjectList.length > 0">
  <div
    *ngFor="let project of filteredProjectList"
    [ngClass]="{
      project: true,
      selectedProject: project._id === selectedProject
    }"
    (click)="fetchProjectRepos(project._id)"
  >
    <div class="title">
      {{ project.name }}
    </div>
    <div>:</div>
  </div>
</div>

<div *ngIf="filteredProjectList.length === 0" class="emptyList">
  No Projects
</div>
