.app {
  display: grid;
  height: calc(100% - 57px);
  width: 100%;
  grid-template-areas: "project repo";
  grid-template-columns: 250px 1fr;
}

.projectList {
  grid-area: project;
  background: var(--bg);
  border-right: 1px solid var(--border);
}

@media (max-width: 550px) {
  .app {
    grid-template-areas: "repo";
    grid-template-columns: 1fr;
  }

  .projectList {
    transform: translateX(-100%);
    position: absolute;
    height: calc(100% - 57px);
    width: 100%;
    transition: transform 200ms ease-out;
    z-index: 900;
    /* border: none; */
  }

  .projectList.active {
    transform: translateX(0);
  }
}
